# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
out/
release/
*.dmg
*.exe
*.AppImage
*.snap
*.tar.gz
*.zip

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
logs/

# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/.tmp

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log

# Typescript
*.tsbuildinfo